* {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
}

header {
  background-image: url("../img/pattern.jpeg");
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  margin: 67px auto;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

.price {
  font-weight: bold;
  color: blue;
}