/* global */
body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/background.png");
  margin: 0 auto;
}

header .row,
footer .row {
  display: flex;
  align-content: center;
}

.col-md-6 {
  margin: 0 0 30px;
}

a {
  padding: 0 20px;
  margin: 0;
  color: #DD4961;
}

/* top nav */
header {
  padding: 20px 0;
}

h1 {
  font-weight: 700;
  margin: 0;
  color: #750000;
}

nav {
  display: flex;
  justify-content: flex-end;
}

#active, #nav a:hover {
  background-color: #750000;
  color: #ffffff;
  height: 23px;
  text-decoration: none;
}

/* hero image */
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("../img/unsplash.jpg");
  background-size: cover;
  color: #ffffff;
  height: 400px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

/* content area for about page */
img.tiffin {
  margin: 0 135px 30px;
  border-radius: 50%;
  max-width: 270px;
}

/* content area for education page */
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

img.education {
  max-width: 270px;
}

/* content area for experience page */
img.icon {
  max-width: 200px;
}

/* back to top button */
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

/* footer */
footer {
  font-size: 12px;
  padding: 20px 0;
}

p {
  text-align: justify;
}

.unsplash {
  padding: 0;
  margin: 0;
}

footer .col-sm-10 {
  display: flex;
  justify-content: flex-end;
}

/* these may no long be on the site 

footer ul {
  list-style: none;
} 

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

div.col-sm-3.email > ul > li > a {
  padding: 0;
} */