/* global */
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One|Roboto:300,400,700&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../img/background.png");
  margin: 0 auto;
}

header .row,
footer .row {
  display: flex;
  align-content: center;
}

a {
  padding: 0 20px;
  margin: 0;
  color: #DD4961;
  font-family: "Lily Script One", cursive;
  text-transform: lowercase;
}

a:hover {
  color: #750000;
  text-decoration: none;
}

/* top nav */
header {
  padding: 20px 0;
}

h1 {
  font-weight: 700;
  margin: 0;
  color: #750000;
}

nav {
  display: flex;
  justify-content: flex-end;
}

#active, #nav a:hover {
  background-color: #750000;
  border-radius: 5px;
  color: #ffffff;
  height: 23px;
}

/* hero image */
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("../img/unsplash.jpg");
  background-size: cover;
  color: #ffffff;
  max-height: 200px;
  height: 100%
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

/* content area for about section */
#about img {
  margin: 15px;
  width: 100%;
  border-radius: 50%;
  max-width: 270px;
}

#about col-sm-12 {
  text-align: center;
}

/* content area for education section */
#education section .row img {
  margin: 15px;
  width: 100%;
}

img.education {
  max-width: 135px;
}

.col-sm-3 {
  text-align: center;
}

.col-sm-3 ul {
  text-align: left;
}

/* content area for experience section */

#experience a {
  font-family: "Lily Script One", cursive;
}

/* back to top button */
.btn.btn-primary {
  color: #DD4961;
  background-color: #fbd1d5;
  margin: 12px 6px;
  border: 1px solid #DD4961;
  border-radius: 5px;
  text-transform: lowercase;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #DD4961;
  
}

/* footer */
footer {
  font-size: 12px;
  padding: 20px 0;
  border-top: 1px solid #DD4961;
}

p {
  text-align: justify;
}

.unsplash {
  padding: 0;
  margin: 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: left;
}

footer a {
  padding: 0 2px;
}

footer .col-sm-4 {
  display: flex;
  justify-content: flex-end;
}

footer img {
  max-width: 50px;
  width: 100%;
}

footer img:hover {
  margin-top: 5px;
}